html {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#topnav {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar {
    min-height: 50px;
    padding: 0 !important;
}

.hero-text {
    font-size: 1.6rem;
    line-height: 1.3;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    color: #555;
    font-family: 'Lato';
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.hero-container {
    min-height: calc(100vh - 110px);
    display: flex;
    align-items: center;
    padding-top: 75px;
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: white !important;
    z-index: 100;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex-shrink: 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 200px;
    max-width: 100%;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #333;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.header-container {
    padding-top: 60px;
}

.remove-item {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 125px;
    }
}

@media (min-width: 768px) {
    .hero-text {
        font-size: 3.5rem;
    }
}