{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 text-center">
            <hr>
            <h2 class="logo-font mb-4">{% trans "Verify Your E-mail Address" %}</h2>
            <hr>

            <p class="lead mt-4">
                {% blocktrans %}We have sent an e-mail to you for verification.{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder.{% endblocktrans %}
            </p>
            <p class="small text-muted">
                {% blocktrans %}Please <a href="/contact/" class="text-info">contact us</a> if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}
            </p>
            
            <div class="mt-5">
                <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 text-uppercase">Back to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}